<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" i18n="Menu item@@menu_usage">Usage</div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <label i18n='reports|time grouping label'>Date by</label>
          <select (change)="loadData()" [(ngModel)]="aType">
            <option i18n='reports|time group for day' value="0">Day</option>
            <option i18n='reports|time group for week' value="1">Week</option>
            <option i18n='reports|time group for month' value="2">Month</option>
          </select>
        </div>
        <div class="col-6">
          <label i18n='reports|start date of range'>From </label>
          <input type="date" (change)="loadData()" [(ngModel)]="startDate" />
          <label i18n='reports|end date of range'>Until </label>
          <input type="date" (change)="loadData()" [(ngModel)]="endDate" />
        </div>
        <div class="col-4">
          <label i18n='reports|Type of data to show label'>Show</label>
          <select (change)="filterData()" [(ngModel)]="displayType">
            <option value="0" i18n='usagereport|total sessions type'>Total Sessions</option>
            <option value="10" i18n='usagereport|active users type'>Active Users</option>
            <option value="20" i18n='usagereport|active users type'>Active Users %</option>            
            <option value="1" i18n='usagereport|sessions type type'>Sessions by Session Type</option>
            <option value="11" i18n='usagereport|users by sessions type'>Users by Session Type</option>
            <option value="2"  i18n='usagereport|sessions by division type'>Sessions by Division</option>
            <option value="12" i18n='usagereport|users by division type'>Active Users by Division</option>
          </select>
        </div>
        <!--/.col-->
      </div>
      <div class="row">
        <div class="col">
          <label i18n='reports|Label for filters on data'>Filters</label>
        </div>
        <div class="col">
          <select (change)="checkFilters()" [(ngModel)]="countryFilter">
            <option i18n='reports|filter default for countries' value="-1">All Countries</option>
            <option *ngFor="let c of countryList" [value]="c.CountryId">{{c.CountryName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="filterData()" [(ngModel)]="languageFilter">
            <option i18n='reports|filter default for languages' value="-1">All Languages</option>
            <option *ngFor="let c of languageList" [value]="c.LanguageId">{{c.LanguageName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="checkFilters()" [(ngModel)]="companyFilter">
            <option i18n='reports|filter default for company' value="-1">All Companies</option>
            <option *ngFor="let c of companyListFilt" [value]="c.CompanyId">{{c.CompanyName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="filterData()" [(ngModel)]="divisionFilter">
            <option i18n='reports|filter default for division' value="-1">All Divisions</option>
            <option *ngFor="let d of divisionListFilt" [value]="d.DivisionId">{{d.DivisionName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="filterData()" [(ngModel)]="sessionTypeFilter">
            <option i18n='reports|filter default for session type' value="-1">All Types</option>
            <option *ngFor="let d of sessionTypeList" [value]="d.SessionTypeId">{{d.SessionTypeName}}</option>
          </select>
        </div>
      </div>

      <!--/.row-->
      <div class="row" *ngIf="loading" class="container-fluid">
        <div class="col-sm">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
        <div class="col-sm" i18n='reports|loading text'>Loading Data</div>
      </div>

      <div *ngIf="!loading&&(fullUserCount>=5)" class="chart-wrapper" style="height:60vh">
        <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabelsDisplay" [options]="mainChartOptions" [legend]="mainChartLegend" [chartType]="mainChartType"  [colors]="mainChartColours"></canvas>
      </div>
      <h1 *ngIf="!loading&&(fullUserCount<5)" style="height:60vh" i18n='reports|too few users'>
        Report has fewer than 5 employees on this report - No Display Available.
      </h1>
    </div>
    <div class="card-footer" *ngIf="!loading&&(fullUserCount>=5)">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted" i18n='usagereport|information text sessions'>Sessions</div>
          <strong>{{allSessions}}</strong>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted" i18n='usagereport|information text users'>Users with Session</div>
          <strong>{{allUsers}}</strong>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted" i18n='usagereport|information text Avg'>Avg Sessions / User</div>
          <strong>{{allSessions/allUsers|number:'1.1-1'}}</strong>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted" i18n='usagereport|information text total users'>Total Users</div>
          <strong>{{fullUserCount}}</strong>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted" i18n='usagereport|information text active users'>Active User %</div>
          <strong>{{allUsers*100/(+fullUserCount+0.00001)|number:'1.1-1'}} %</strong>
        </div>

      </div>
    </div>
  </div>
