<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" i18n="Menu item@@menu_challengeresult">Challenge Result</div>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <label i18n='challengeresult|label for challenge list'>Select Challenge</label>
          <select (change)="loadData()" [(ngModel)]="selCID">
            <option *ngFor="let ch of challenges" [value]="ch.ChallengeId">{{ch.ChallengeName}} ({{ch.EndDate.substring(0,10)}})</option>
          </select>
        </div>
      </div>
      <!--/.row-->
      <div class="row" *ngIf="loading" class="container-fluid">
        <div class="col-sm">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
        <div class="col-sm" i18n='reports|loading text'>Loading Data</div>
      </div>

      <div *ngIf="(!loading)&&winners">
        <div class="card">
          <div class="card-header">
            <h2>{{selCh.ChallengeName}}</h2>
            <h5>
              <span>{{selCh.StartDate.substring(0,10)}} to {{selCh.EndDate.substring(0,10)}}  </span>
              <span *ngIf="!isTeamC(selCh.ChallengeTypeId)" i18n='challengescreen|type Individual'>Individual -</span>
              <span *ngIf="isTeamC(selCh.ChallengeTypeId)" i18n='challengescreen|type Team'>Team -</span>
              <span *ngIf="!isMax(selCh.ChallengeTypeId)" i18n='challengescreen|goal type - daily'>Daily Goal </span><span *ngIf="!isMax(selCh.ChallengeTypeId)"> {{selCh.DailyGoal}}</span>
              <span *ngIf="isMax(selCh.ChallengeTypeId)" i18n='challengescreen|goal type - max'>Max Sessions</span>
            </h5>
          </div>
          <div class="card-body">
            <table class='table table-bordered'>
              <tr>
                <th i18n='challengeresult|table header position'>Position</th>
                <th i18n='challengeresult|table header name'>Name</th>
                <th i18n='challengeresult|table header score' class="text-right">Score</th>
                <th *ngIf="isTeam" i18n='challengeresult|table header Number of users' class="text-right">Members</th>
              </tr>
              <tr *ngFor="let w of winners; let i=index">
                <td>
                  {{i+1}}
                </td>
                <td>
                  {{w.Description}}
                </td>
                <td *ngIf="isTeam" class="text-right">
                    {{w.Points | number : '1.2-2'}}
                </td>
                <td *ngIf="!isTeam" class="text-right">
                    {{w.Points}}
                </td>
                <td *ngIf="isTeam" class="text-right">
                  {{w.UserCount}}
                </td>

              </tr>

            </table>
          </div>
        </div>

      </div>

    </div>

  </div>
