<div class="animated fadeIn">
  <!--Table-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" i18n='challengescreen|create dialog button'>Challenges</div>
        <div class="card-body">
          <div class="row" *ngIf="isLoading" class="container-fluid">
            <div class="col-sm">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div class="col-sm"  i18n='challengescreen|loading text'>Loading Challenge Information</div>
          </div>

          <table *ngIf="!isLoading" datatable [dtOptions]="dtOptions" class="row-border hover" id="challengeTable">
            <thead class="thead-light">
              <tr>
                <th> </th>
                <th></th>
                <th class="text-center"><i class="icon-home"></i></th>
                <th i18n='challengescreen|column title name'>Challenge Name</th>
                <th i18n='challengescreen|column title type'>Challenge Type</th>
                <th i18n='challengescreen|column title daily goal'>Daily Goal</th>
                <th i18n='challengescreen|column title start date'>Start Date</th>
                <th i18n='challengescreen|column title end date'>End Date</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let challenge of challengeData">
                <tr>
                  <td class="text-center">
                    <button class="btn btn-pill btn-primary" (click)="editChallenge(challenge)" [disabled]="isLocked(challenge)">
                      <i class="cui-pencil"></i>
                    </button>
                  </td>
                  <td class="text-center"><button *ngIf="isTeam(challenge.ChallengeTypeId)"  [disabled]="isLocked(challenge)" class="btn btn-pill btn-primary" (click)="editChallengeTeam(challenge)" i18n='challengescreen|team button'>Teams</button></td>
                  <td>
                    {{challenge.ChallengeId}}
                  </td>
                  <td >
                    {{challenge.ChallengeName}}
                  </td>
                  <td >
                    <span *ngIf="!isTeam(challenge.ChallengeTypeId)" i18n='challengescreen|type Individual'>Individual</span>
                    <span *ngIf="isTeam(challenge.ChallengeTypeId)" i18n='challengescreen|type Team'>Team</span>
                    <span *ngIf="!isMax(challenge.ChallengeTypeId)" i18n='challengescreen|goal type - daily'>Daily Goal</span>
                    <span *ngIf="isMax(challenge.ChallengeTypeId)" i18n='challengescreen|goal type - max'>Max Sessions</span>
                  </td>
                  <td>
                    {{challenge.DailyGoal>0?challenge.DailyGoal:"Max"}}
                  </td>
                  <td>
                    {{challenge.StartDate | date:'yyyy-MM-dd'}}
                  </td>
                  <td >
                    {{challenge.EndDate | date:'yyyy-MM-dd'}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center">
                  <button type="button" class="btn btn-primary btn-pill" data-toggle="modal" (click)="startAddChallenge()">
                    <i class="fa fa-plus fa-lg"></i>
                  </button>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>


<div bsModal #addChallengeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='challengescreen|create modal title'>Create New Challenge</h4>
        <button type="button" class="close" (click)="closeAddModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"  id="add_scroll">
        <form>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label name'>Name</label>
            <input type="text" class="form-control" id="add_name">
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label description'>Description</label>
            <input type="text" class="form-control" id="add_desc" maxlength="110">
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label type'>Participant Type</label>
            <select id="add_type_select" class="form-control">
              <option hidden>--Select--</option>
              <option value=0 i18n='challengescreen|type Individual'>Individual</option>
              <option value=1 i18n='challengescreen|type Team'>Team</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label goal type'>Goal Type</label>
            <select id="add_goal_select" class="form-control" #ags id='add_goal_type'>
              <option value="0" i18n='challengescreen|goal type - max'>Max Sessions</option>
              <option value="1" i18n='challengescreen|goal type - daily'>Daily Goal</option>
            </select>
          </div>
          <div class="form-group" *ngIf="ags.value=='1'">
            <label for="name" i18n='challengescreen|label daily goal'>Daily Goal</label>
            <input type="number" class="form-control" id="add_goal">
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label start date'>Start Date</label>
            <input type="date" id="add_start_date" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label end date'>End Date</label>
            <input type="date" id="add_end_date" class="form-control" />
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label availability'>Country / Company</label>
            <select id="add_country_select" class="form-control" #abs (change)="countryChange(abs.value)" [disabled]="companyData&&(companyData.length==1)">
              <ng-container *ngFor="let country of countryData">
                <option [value]="country.CountryId">
                  {{country.CountryName}}
                </option>
              </ng-container>
            </select>
            <select id="add_company_select" class="form-control" [disabled]="companyData&&(companyData.length==1)">
              <option value="0">All Companies</option>
              <ng-container *ngFor="let company of fCompanies">
                <option [value]="company.CompanyId">
                  {{company.CompanyName}}
                </option>
              </ng-container>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAddModal()" i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" [disabled]="isWorking" class="btn btn-primary" (click)="addChallenge()" i18n='dialog|create dialog button'>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editChallengeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-dialog-scrollable modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='challengescreen|edit dialog title'>Edit Challenge</h4>
        <button type="button" class="close" (click)="closeEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name"  i18n='challengescreen|label name' >Name</label>
            <input type="text" class="form-control" id="edit_name">
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label description'>Description</label>
            <input type="text" class="form-control"  maxlength="110" id="edit_desc">
          </div>
          <div class="form-group">
            <label for="name"><span i18n='challengescreen|label type'>Type </span><span *ngIf="!allowFEdits" i18n='challengescreen|warning message' class="warning">(cannot be changed, challenge has members)</span></label>
            <select id="edit_type_select" class="form-control" [disabled]="!allowFEdits">
              <option hidden>--Select--</option>
              <option value=0 i18n='challengescreen|type Individual'>Individual</option>
              <option value=1 i18n='challengescreen|type Team'>Team</option>
            </select>
          </div>

          <div class="form-group">
            <label for="name"><span i18n='challengescreen|label goal type'>Goal Type </span><span *ngIf="!allowFEdits" i18n='challengescreen|warning message' class="warning">(cannot be changed, challenge has members)</span></label>
            <select id="add_goal_select" class="form-control" #egs id='edit_goal_type' [disabled]="!allowFEdits">
              <option value="0" i18n='challengescreen|goal type - max'>Max Sessions</option>
              <option value="1" i18n='challengescreen|goal type - daily'>Daily Goal</option>
            </select>
          </div>
          <div class="form-group" [hidden]="egs.value=='0'">
            <label for="name"><span i18n='challengescreen|label daily goal'>Daily Goal </span><span *ngIf="!allowFEdits" i18n='challengescreen|warning message' class="warning">(cannot be changed, challenge has members)</span></label>
            <input type="text" class="form-control" id="edit_goal" [disabled]="!allowFEdits">
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label start date'>Start Date</label>
            <input type="date" id="edit_start_date" class="form-control" />
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label end date'>End Date</label>
            <input type="date" id="edit_end_date" class="form-control"  />
          </div>
          <div class="form-group">
            <label for="name" i18n='challengescreen|label availability'>Availability</label>
            <select id="edit_country_select" class="form-control" #ebs (change)="countryChange(ebs.value)" [disabled]="companyData&&(companyData.length==1)">
              <option hidden>--Select Country--</option>
              <ng-container *ngFor="let country of countryData">
                <option [value]="country.CountryId">
                  {{country.CountryName}}
                </option>
              </ng-container>
            </select>
            <select id="edit_company_select" class="form-control" [disabled]="companyData&&(companyData.length==1)">
              <option [value]="0">Any Company</option>
              <option [value]="company.CompanyId" *ngFor="let company of fCompanies">
                  {{company.CompanyName}}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditModal()" i18n='dialog|close and cancel dialog button' >Close</button>
        <button type="button" class="btn btn-success" (click)="updateChallenge()" i18n='dialog|save dialog button' [disabled]='isWorking'>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Delete</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="this.selectedChallenge != null">
          Are you sure you want to delete {{this.selectedChallenge.ChallengeName}}?
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteChallenge()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #teamModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='challengescreen|modal title teams'>Challenge Teams</h4>
        <button type="button" class="close" (click)="closeTeamModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="teamLoading" class="container-fluid">
          <div class="col-sm">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
          <div class="col-sm" i18n='challengescreen|loading message teams'>
            Loading Teams
          </div>
        </div>

        <form *ngIf="!teamLoading">
          <div class="form-group" *ngFor="let team of teamData;let i=index">
            <input type="text" class="form-control" id="team_name_{{i}}" [value]="team.TeamName">
          </div>
          <button type="button" class="btn btn-secondary" (click)="addTeam()">Add a Team</button>
          <span *ngIf="!teamData.length">At Least one Team must be added to this challenge</span>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeTeamModal()" i18n='dialog|close and cancel dialog button' [disabled]="teamData&&(!teamData.length)">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveTeams()" i18n='dialog|save dialog button' [disabled]="teamData&&(!teamData.length)">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
