﻿<app-header
            [fixed]="true"
            [navbarBrandFull]="{src: 'assets/img/brand/work_active_logo.png', width: 40, height: 40, alt: 'Work Active Logo'}"
            [sidebarToggler]="'lg'"
            [asideMenuToggler]=false
            >
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                <span style="padding-right:5em;">{{authService.currentUser()}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Account</strong></div>
                <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
    </main>
</div>
<app-footer>
    <span>&copy; 2021 <a href="https://protea.co.jp">Protea Japan Ltd.</a></span>
</app-footer>
<!--Templates for translation text -->
<ng-container *ngIf="false">
<ng-container i18n="Menu item@@menu_reports">Reporting</ng-container>
<ng-container i18n="Menu item@@menu_usage">Usage</ng-container>
<ng-container i18n="Menu item@@menu_demographics">Demographics</ng-container>
<ng-container i18n="Menu item@@menu_challenge">Challenge Report</ng-container>
<ng-container i18n="Menu item@@menu_challengeresult">Challenge Result</ng-container>
<ng-container i18n="Menu item@@menu_admin">Admin</ng-container>
<ng-container i18n="Menu item@@menu_users">Users</ng-container>
<ng-container i18n="Menu item@@menu_companies">Companies</ng-container>
<ng-container i18n="Menu item@@menu_divisions">Divisions</ng-container>
<ng-container i18n="Menu item@@menu_challengetypes">Challenge Types</ng-container>
<ng-container i18n="Menu item@@menu_challenges">Challenges</ng-container>
<ng-container i18n="Menu item@@menu_sessiontypes">Session Types</ng-container>
<ng-container i18n="Graph Series Description@@graphseries_activeusers">Active User</ng-container>
<ng-container i18n="Graph Series Description@@graphseries_usersinchallenge">Users in Challenge</ng-container>
<ng-container i18n="Graph Series Description@@graphseries_activeusersinchallenge">Active Users in Challenge</ng-container>
<ng-container i18n="Graph Series Description@@graphseries_users">Users</ng-container>
<ng-container i18n="Graph Series Description@@graphseries_sessions">Sessions</ng-container>
<ng-container i18n="Graph Series Description@@graphseries_activeuserpercent">Active User %</ng-container>


</ng-container>
