<div class="animated fadeIn">
  <!--Table-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" i18n='challengetypescreen|screen title'>Challenge Types</div>
        <div class="card-body">
          <div class="row" *ngIf="isLoading" class="container-fluid">
            <div class="col-sm">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div class="col-sm"  i18n='challengetypescreen|loading message'>
              Loading Challenge Type Information
            </div>
          </div>

          <table datatable [hidden]="isLoading" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="ChallengeTypesTable">
            <thead class="thead-light">
              <tr>
                <th> </th>
                <th class="text-center"><i class="icon-home"></i></th>
                <th i18n='challengetypescreen|column title name'>Name</th>
                <th i18n='challengetypescreen|column title participant type'>Participant Type</th>
                <th i18n='challengetypescreen|column title points'>Points per Objective</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let challengeType of challengeTypeData">
                <tr>
                  <td class="text-center"><button class="btn btn-pill btn-primary" (click)="editChallengeType(challengeType)">
                      <i class="cui-pencil"></i>
                    </button></td>
                    <td class="text-center">
                    {{challengeType.ChallengeTypeId}}
                  </td>
                  <td>
                    {{challengeType.ChallengeTypeName}}
                  </td>
                  <td>
                    {{challengeType.ParticipantTypeId}}
                  </td>
                  <td>
                    {{challengeType.PointsPerObjective}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center"><button class="btn btn-pill btn-primary" (click)="addChallengeTypeModal.show()">
                    <i class="fa fa-plus fa-lg"></i>
                  </button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #editChallengeTypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='challengetypescreen|edit dialog title'>Edit Challenge Type</h4>
        <button type="button" class="close" (click)="editChallengeTypeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name"  i18n='challengetypescreen|label name'>Challenge Type Name</label>
            <input type="text" class="form-control" id="edit_name">
          </div>
          <div class="form-group">
            <label for="edit_part" i18n='challengetypescreen|label participant type'>Participant Type</label>
            <select id="edit_part" class="form-control">
              <option value=1>Individual
              <option>
              <option value=2>Team</option>
            </select>
          </div>
          <div class="form-group">
            <label for="edit_points" i18n='challengetypescreen|label points'>Points per Objective</label>
            <input type="text" class="form-control" id="edit_points">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editChallengeTypeModal.hide()"  i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" class="btn btn-success" (click)="updateChallengeType()"  i18n='dialog|save dialog button'>Save changes</button>
        <button type="button" class="btn btn-danger" (click)="dangerModal.show()" i18n='dialog|delete dialog button'>Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #addChallengeTypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='challengetypescreen|dialog create new title'>Create New Challenge Type</h4>
        <button type="button" class="close" (click)="addChallengeTypeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name" i18n='challengetypescreen|label name'>Challenge Type Name</label>
            <input type="text" class="form-control" id="add_name">
          </div>
          <div class="form-group">
            <label for="Company" i18n='challengetypescreen|label participant type'>Participant Type</label>
            <select id="add_part" class="form-control">
              <option [value]=1>Individual</option>
              <option [value]=2>Team</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Name"  i18n='challengetypescreen|label points'>Points per Objective</label>
            <input type="text" class="form-control" id="add_points">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addChallengeTypeModal.hide()" i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" class="btn btn-primary" (click)="createChallengeType()"  i18n='dialog|create dialog button'>Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Delete</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="this.selectedChallengeType != null">
          Are you sure you want to delete {{this.selectedChallengeType.ChallengeTypeName}}?
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteChallengeType()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
