<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1 i18n='login|heading'>Login</h1>
                  <p i18n='login|text header' class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input name="user" type="text" class="form-control" placeholder="Username" autocomplete="username" required [(ngModel)]="user">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input name="password" type="password" class="form-control" placeholder="Password" autocomplete="current-password" required [(ngModel)]="password">
                  </div>
                  <div class="row" *ngIf="workingMessage" class="container-fluid">
                    <div class="row">
                      <div class="col-sm">
                        <div class="spinner-border text-primary" role="status">
                          <span class="sr-only"></span>
                        </div>
                      </div>
                      <div class="col-sm">
                        {{workingMessage}}
                      </div>
                    </div>
                  </div>
                  <div class="text-danger container-fluid">
                    {{errorResponse}}
                  </div>
                  <div class="row" *ngIf="!workingMessage">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" [disabled]="!(user&&password)" (click)="login()" i18n='login|button'>Login</button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn" [disabled]="!(user)" (click)="resetPassword()" i18n='resetpassword|button'>Reset Password via Email</button>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
