<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" i18n='usersscreen|title for screen'>Users</div>
        <div class="card-body">
          <div class="row" *ngIf="isLoading" class="container-fluid">
            <div class="col-sm">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div class="col-sm" i18n='usersscreen|loading text'>Loading User Data</div>
          </div>
          <div class="table-responsive">
            <table [hidden]="isLoading" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="UsersTable">
              <thead class="thead-light">
                <tr>
                  <th></th>
                  <th class="text-center"><i class="icon-people"></i></th>
                  <th i18n='usersscreen|column title user'>User</th>
                  <th i18n='usersscreen|column title first name'>First Name</th>
                  <th i18n='usersscreen|column title last name'>Last Name</th>
                  <th i18n='usersscreen|column title email'>Email</th>
                  <th i18n='usersscreen|column title company'>Company</th>
                  <th i18n='usersscreen|column title division'>Division</th>
                  <th i18n='usersscreen|column title access'>Access Level</th>
                  <th i18n='usersscreen|column title date registered'>Date Registered</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let user of usersData">
                  <tr id="user_{{user.UserId}}">
                    <div hidden=true id="division_{{user.UserId}}">{{user.DivisionId}}</div>
                    <td class="text-center"><button class="btn btn-pill btn-primary" (click)="editUser(user)">
                        <i class="cui-pencil"></i>
                      </button></td>
                    <td class="text-center">
                      {{user.UserId}}
                    </td>
                    <td id="username_{{user.UserId}}">
                      {{user.UserName}}
                    </td>
                    <td id="firstname_{{user.UserId}}">
                      {{user.FirstName}}
                    </td>
                    <td id="lastname_{{user.UserId}}">
                      {{user.LastName}}
                    </td>
                    <td id="email_{{user.UserId}}">
                      {{user.EmailAddress}}
                    </td>
                    <td id="company_{{user.UserId}}">
                      {{user.CompanyName}}
                    </td>
                    <td>
                      {{user.DivisionName}}
                    </td>
                    <td class="text-center" id="access_{{user.UserId}}">
                      {{mapAccessLevel(user.AccessLevel)}}
                    </td>
                    <td>
                      {{user.DateRegistered | date:'yyyy-MM-dd'}}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #editUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='usersscreen|dialog title edit user'>Edit User</h4>
        <button type="button" class="close" (click)="editUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="UserName" i18n='usersscreen|label user name'>User Name</label>
            <input type="text" class="form-control" id="edit_username">
          </div>
          <div class="form-group">
            <label for="FirstName" i18n='usersscreen|label first name'>First Name</label>
            <input type="text" class="form-control" id="edit_firstname">
          </div>
          <div class="form-group">
            <label for="LastName" i18n='usersscreen|label last name'>Last Name</label>
            <input type="text" class="form-control" id="edit_lastname">
          </div>
          <div class="form-group">
            <label for="EmailAddress" i18n='usersscreen|label email'>Email Address</label>
            <input type="text" class="form-control" id="edit_email">
          </div>
          <div class="form-group">
            <label for="name" i18n='usersscreen|label company'>Company</label>
            <select id="edit_company" #c (change)="companyChange(c.value)" class="form-control">
              <ng-container *ngFor="let company of companyData">
                <option [value]="company.CompanyId">
                  {{company.CompanyName}}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="form-group">
            <label for="name" i18n='usersscreen|label division'>Division</label>
            <select id="edit_division" class="form-control">
              <ng-container *ngFor="let division of filteredDivisionList">
                <option [value]="division.DivisionId">
                  {{division.DivisionName}}
              </ng-container>>
            </select>
          </div>
          <div class="form-group">
            <label for="name" i18n='usersscreen|label access level'>Access Level</label>
            <select id="edit_access" class="form-control">
              <option value="0" i18n='usersscreen|access level 0'>Normal User</option>
              <option value="1" i18n='usersscreen|access level 1'>Company Manager</option>
              <option value="2" i18n='usersscreen|access level 2' *ngIf="accessLevel>=2">Country Admin</option>
              <option value="3" i18n='usersscreen|access level 3' *ngIf="accessLevel>=3">Super Admin</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editUserModal.hide()" i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" class="btn btn-success" (click)="updateUser()" i18n='dialog|save dialog button'>Save changes</button>
        <button type="button" class="btn btn-danger" (click)="dangerModal.show()" i18n='dialog|delete dialog button'>Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Delete</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="this.selectedUser != null">
          Are you sure you want to delete {{this.selectedUser.UserName}}?
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
