<div class="animated fadeIn">
  <!--Table-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"  i18n='sessiontypescreen|screen title'>Session Types</div>
        <div class="card-body">
          <div class="row" *ngIf="isLoading" class="container-fluid">
            <div class="col-sm">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div class="col-sm"  i18n='sessiontypescreen|loading message'>
              Loading Session Type Information
            </div>
          </div>

          <table datatable [hidden]="isLoading" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="SessionTypesTable">
            <thead class="thead-light">
              <tr>
                <th></th>
                <th class="text-center"><i class="icon-home"></i></th>
                <th  i18n='sessiontypescreen|column title name'>Name</th>
                <th i18n='sessiontypescreen|column title time'>Time Seconds</th>
                <th i18n='sessiontypescreen|column title theme'>Theme</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let sessiontype of sessionTypeData">
                <tr>
                  <td class="text-center"><button class="btn btn-pill btn-primary" (click)="editSessionType(sessiontype)">
                      <i class="cui-pencil"></i>
                    </button></td>
                  <td class="text-center">
                    {{sessiontype.SessionTypeId}}
                  </td>
                  <td>
                    {{sessiontype.SessionTypeName}}
                  </td>
                  <td>
                    {{sessiontype.TimeSeconds}}
                  </td>
                  <td>
                    {{themeName(sessiontype.Theme)}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #editSessionTypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"  i18n='sessiontypescreen|edit dialog title'>Edit Session Type</h4>
        <button type="button" class="close" (click)="editSessionTypeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name"  i18n='sessiontypescreen|label name'>Session Type Name</label>
            <input type="text" class="form-control" id="edit_name">
          </div>
          <div class="form-group">
            <label for="Name" i18n='sessiontypescreen|label time'>Time in Seconds</label>
            <input type="text" class="form-control" id="edit_time">
          </div>
          <div class="form-group">
            <label i18n='sessiontypescreen|label theme'>Display Theme</label>
            <select class="form-control" id="edit_theme">
              <option hidden>--Select Theme--</option>
              <option [value]="0">Recover</option>
              <option [value]="1">Perform</option>
              <option [value]="2">Prepare</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editSessionTypeModal.hide()"  i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" class="btn btn-success" (click)="updateSessionType()" i18n='dialog|save dialog button'>Save changes</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #addSessionTypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='sessiontypescreen|add dialog title'>Create New Session Type</h4>
        <button type="button" class="close" (click)="addSessionTypeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name" i18n='sessiontypescreen|label name'>Session Type Name</label>
            <input type="text" class="form-control" id="add_name">
          </div>
          <div class="form-group">
            <label for="Code" i18n='sessiontypescreen|label time'>Time in Second</label>
            <input type="text" class="form-control" id="add_time">
          </div>
          <div class="form-group">
            <label i18n='sessiontypescreen|label theme'>Display Theme</label>
            <select class="form-control" id="add_theme">
              <option hidden>--Select Theme--</option>
              <option [value]="0">Recover</option>
              <option [value]="1">Perform</option>
              <option [value]="2">Prepare</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addSessionTypeModal.hide()"  i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" class="btn btn-primary" (click)="createSessionType()" i18n='dialog|create dialog button'>Add Session Type</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Delete</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="this.selectedSessionType != null">
          Are you sure you want to delete {{this.selectedSessionType.SessionTypeName}}?
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteSessionType()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
