<div class="animated fadeIn">
  <div class="card-header" i18n="Menu item@@menu_demographics">Demographics</div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-7">
          <label i18n='reports|start date of range'>From </label>
          <input type="date" (change)="loadData()" [(ngModel)]="startDate" />
          <label i18n='reports|end date of range'>Until </label>
          <input type="date" (change)="loadData()" [(ngModel)]="endDate" />
        </div>
        <div class="col-4">
          <label i18n='reports|Type of data to show label'>Show</label>
          <select (change)="filterData()" [(ngModel)]="displayType">
            <option i18n='reports|data by sessions' value="0">Sessions</option>
            <option  i18n='reports|data by active users' value="1">Active Users</option>
          </select>
        </div>
        <!--/.col-->
      </div>
      <div class="row">
        <div class="col">
          <label i18n='reports|Label for filters on data'>Filters</label>
        </div>
        <div class="col">
          <select (change)="checkFilters()" [(ngModel)]="countryFilter">
            <option i18n='reports|filter default for countries' value="-1">All Countries</option>
            <option *ngFor="let c of countryList" [value]="c.CountryId">{{c.CountryName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="filterData()" [(ngModel)]="languageFilter">
            <option i18n='reports|filter default for languages' value="-1">All Languages</option>
            <option *ngFor="let c of languageList" [value]="c.LanguageId">{{c.LanguageName}}</option>
          </select>
        </div>

        <div class="col">
          <select (change)="checkFilters()" [(ngModel)]="companyFilter">
            <option i18n='reports|filter default for company' value="-1">All Companies</option>
            <option *ngFor="let c of companyListFilt" [value]="c.CompanyId">{{c.CompanyName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="filterData()" [(ngModel)]="divisionFilter">
            <option i18n='reports|filter default for division' value="-1">All Divisions</option>
            <option *ngFor="let d of divisionListFilt" [value]="d.DivisionId">{{d.DivisionName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="filterData()" [(ngModel)]="sessionTypeFilter">
            <option i18n='reports|filter default for session type' value="-1">All Types</option>
            <option *ngFor="let d of sessionTypeList" [value]="d.SessionTypeId">{{d.SessionTypeName}}</option>
          </select>
        </div>
      </div>
      <br />

      <!--/.row-->
      <div class="row" *ngIf="loading" class="container-fluid">
        <div class="col-sm">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
        <div class="col-sm" i18n='reports|loading text'>Loading Data</div>
      </div>
      <h1 *ngIf="!loading&&(!hasData)" style="height:60vh" i18n='reports|too few users'>
        Report has fewer than 5 employees on this report - No Display Available.
      </h1>
      <div *ngIf="!loading&&(!hasData)" class="row">
      </div>
      <div *ngIf="!loading&&hasData" class="row">
        <div class="col-6">
          <h3 class="text-center">Company</h3>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="comChartData" [labels]="comChartLabels" [options]="mainChartOptions" [legend]="mainChartLegend" [chartType]="mainChartType"  [colors]="mainChartColours"></canvas>
          </div>
        </div>
        <div class="col-6">
          <h3 class="text-center">Language</h3>
          <div class="chart-wrapper col">
            <canvas baseChart class="chart" [datasets]="lanChartData" [labels]="lanChartLabels" [options]="mainChartOptions" [legend]="lanChartLegend" [chartType]="mainChartType" [colors]="mainChartColours"></canvas>
          </div>
        </div>
        <div class="col-6">
          <h3 class="text-center">Country</h3>
          <div class="chart-wrapper col">
            <canvas baseChart class="chart" [datasets]="counChartData" [labels]="counChartLabels" [options]="mainChartOptions" [legend]="mainChartLegend" [chartType]="mainChartType" [colors]="mainChartColours"></canvas>
          </div>
        </div>
        <div class="col-6" *ngIf="false">
          <h3 class="text-center">Division</h3>
          <div class="chart-wrapper col">
            <canvas baseChart class="chart" [datasets]="divChartData" [labels]="divChartLabels" [options]="mainChartOptions" [legend]="mainChartLegend" [chartType]="mainChartType" [colors]="mainChartColours"></canvas>
          </div>
        </div>

      </div>
    </div>
  </div>
