<div class="container">
	<table datatable [dtOptions]="dtOptions" class="row-border hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
			</tr>
		</thead>
		<tbody *ngIf="data?.length != 0">
			<tr *ngFor="let user of userData">
				<td>{{ user.UserId }}</td>
				<td>{{ user.FirstName }}</td>
				<td>{{ user.LastName }}</td>
			</tr>
		</tbody>
		<tbody *ngIf="data?.length == 0">
			<tr>
				<td colspan="3" class="no-data-available">No data!</td>
			</tr>
		</tbody>
	</table>
</div>