<div class="animated fadeIn">
    <!--Table-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" i18n='companyscreen|heading'>Companies</div>
                <div class="card-body">
                  <div class="row" *ngIf="isLoading" class="container-fluid">
                    <div class="col-sm">
                      <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                      </div>
                    </div>
                    <div class="col-sm" i18n='companyscreen|loading text' >
                      Loading Company Information
                    </div>
                  </div>

                    <table datatable [hidden]="isLoading" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="UsersTable">
                        <thead class="thead-light">
                            <tr>
                                <th> </th>
                                <th class="text-center"><i class="icon-home"></i></th>
                                <th i18n='companyscreen|table column name'>Company Name</th>
                                <th i18n='companyscreen|table column country'>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let company of companyData">
                                <tr>
                                  <td class="text-center"><button class="btn btn-pill btn-primary" (click)="editCompany(company)">
                                    <i class="cui-pencil"></i>
                                  </button></td>
                                    <td class="text-center">
                                        {{company.CompanyId}}
                                    </td>
                                    <td>
                                        {{company.CompanyName}}
                                    </td>
                                    <td>
                                        {{countryName(company.CountryId)}}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot>
                              <tr>
                              <td class="text-center"><button class="btn btn-pill btn-primary" (click)="addCompanyModal.show()">
                                  <i class="fa fa-plus fa-lg"></i>
                                </button></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tfoot>
                    </table>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>

<div bsModal #editCompanyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" i18n='companyscreen|dialog header for edit'>Edit Company</h4>
          <button type="button" class="close" (click)="editCompanyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="Name" i18n='companyscreen|label for company name'>Name</label>
                <input type="text"  class="form-control" id="edit_name">
              </div>
              <div class="form-group">
                <label for="Country" i18n='companyscreen|label for country selection'>Country</label>
                <select id="edit_country" class="form-control">
                    <option hidden i18n='companyscreen|placeholder in selection'>--Select Country--</option>
                    <ng-container *ngFor="let country of countries">
                      <option [value]="country.CountryId">
                        {{country.CountryName}}
                      </option>
                    </ng-container>
                </select>
              </div>
          </form>
          <h3 i18n='companyscreen|user table header'> Admin Users</h3>
          <table class="row-border hover" id="CUsers">
              <thead >
                  <tr>
                      <th i18n='companyscreen|user table user name'>User</th>
                      <th i18n='companyscreen|user table email'>Email</th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let user of comUsers">
                      <tr>
                          <td >
                              {{user.FirstName}} {{user.LastName}}
                          </td>
                          <td>
                              {{user.EmailAddress}}
                          </td>
                      </tr>
                  </ng-container>
              </tbody>
          </table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="editCompanyModal.hide()" i18n='dialog|close and cancel dialog button'>Cancel</button>
          <button type="button" class="btn btn-success" (click)="updateCompany()" i18n='dialog|save dialog button'>Save changes</button>
          <button type="button" class="btn btn-danger"  (click)="dangerModal.show()" i18n='dialog|delete dialog button'>Delete</button>
      </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #addCompanyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-primary" role="document">
  <div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title" i18n='companyscreen|dialog header for new Company'>Create New Company</h4>
      <button type="button" class="close" (click)="addCompanyModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="Name" i18n='companyscreen|label for company name'>Name</label>
          <input type="text"  class="form-control" id="add_name">
        </div>
        <div class="form-group">
          <label for="Company" i18n='companyscreen|label for country selection'>Country</label>
          <select id="add_country" class="form-control">
            <option hidden i18n='companyscreen|placeholder in selection'>--Select Country--</option>
            <ng-container *ngFor="let country of countries">
              <option [value]="country.CountryId">
                {{country.CountryName}}
              </option>
            </ng-container>
          </select>
        </div>
  </form>

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="addCompanyModal.hide()" i18n='dialog|close and cancel dialog button'>Cancel</button>
      <button type="button" class="btn btn-primary" (click)="postCompany()" i18n='dialog|create dialog button'>Create</button>
  </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-danger modal-sm" role="document">
  <div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title text-center">Delete</h4>
      <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <ng-container *ngIf="this.selectedCompany != null">
          Are you sure you want to delete {{this.selectedCompany.CompanyName}}?
      </ng-container>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()" i18n='dialog|close and cancel dialog button'>Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteCompany()" i18n='dialog|delete dialog button'>Delete</button>
  </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
