<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" i18n="Menu item@@menu_challenge">Challenge Report</div>
    <div class="card-body">
      <div class="row">
        <div class="col-3 form-inline">
          <label i18n='reports|time grouping label'>Date grouped by</label>
          <select (change)="loadData()" [(ngModel)]="bucketType">
            <option i18n='reports|time group for day' value="Day">Day</option>
            <option i18n='reports|time group for week' value="Week">Week</option>
            <option i18n='reports|time group for month' value="Month">Month</option>
          </select>
        </div>
        <div class="col-5 form-inline">
          <label i18n='reports|start date of range'>From </label>
          <input type="date" (change)="loadData()" [(ngModel)]="startDate" />
          <label i18n='reports|end date of range'>Until </label>
          <input type="date" (change)="loadData()" [(ngModel)]="endDate" />
        </div>
        <!--/.col-->
      </div>
      <div class="row">
        <div class="col">
          <label i18n='reports|Label for filters on data'>Filters</label>
        </div>
        <div class="col">
          <select (change)="checkFilters()" [(ngModel)]="countryFilter">
            <option i18n='reports|filter default for countries' value="-1">All Countries</option>
            <option *ngFor="let c of countryList" [value]="c.CountryId">{{c.CountryName}}</option>
          </select>
        </div>

        <div class="col">
          <select (change)="checkFilters()" [(ngModel)]="companyFilter">
            <option i18n='reports|filter default for company' value="-1">All Companies</option>
            <option *ngFor="let c of companyListFilt" [value]="c.CompanyId">{{c.CompanyName}}</option>
          </select>
        </div>
        <div class="col">
          <select (change)="checkFilters()" [(ngModel)]="divisionFilter">
            <option i18n='reports|filter default for division' value="-1">All Divisions</option>
            <option *ngFor="let d of divisionListFilt" [value]="d.DivisionId">{{d.DivisionName}}</option>
          </select>
        </div>
      </div>
      <br />

      <!--/.row-->
      <div class="row" *ngIf="loading" class="container-fluid">
        <div class="col-sm">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
        <div class="col-sm" i18n='reports|loading text'>Loading Data</div>
      </div>
      <h1 *ngIf="(!loading)&&(!hasData)&&(!zeroUsers)" style="height:60vh" i18n='reports|too few users'>
        Report has fewer than 5 employees on this report - No Display Available.
      </h1>
      <h1 *ngIf="(!loading)&&(!hasData)&&(zeroUsers)" style="height:60vh" i18n='reports|zero users'>
        No users available for this report
      </h1>
      <div *ngIf="(!loading)&&hasData" class="chart-wrapper" style="height:60vh">
        <canvas baseChart class="chart"
                [datasets]="ChartData"
                [labels]="ChartLabels"
                [options]="mainChartOptions"
                [legend]="mainChartLegend"
                [chartType]="mainChartType"
                [colors]="mainChartColours"></canvas>
      </div>

    </div>
  </div>
