<div class="animated fadeIn">
  <!--Table-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" i18n='divisionscreen|Screen Title'>Divisions</div>
        <div class="card-body">
          <div class="row" *ngIf="isLoading" class="container-fluid">
            <div class="col-sm">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <div class="col-sm" i18n='divisionscreen|loading text' >
              Loading Division Information
            </div>
          </div>

          <table [hidden]="isLoading" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="DivisionsTable">
            <thead class="thead-light">
              <tr>
                <th> </th>
                <th class="text-center"><i class="icon-home"></i></th>
                <th i18n='divisionscreen|column title division code'>Division Code</th>
                <th i18n='divisionscreen|column title division name'>Division Name</th>
                <th i18n='divisionscreen|column title company name'>Company Name</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let division of divisionData">
                <tr>
                  <td class="text-center"><button class="btn btn-pill btn-primary" (click)="editDivision(division)">
                      <i class="cui-pencil"></i>
                    </button></td>
                  <td class="text-center">
                    {{division.DivisionId}}
                  </td>
                  <td>
                    {{division.DivisionCode}}
                  </td>
                  <td>
                    {{division.DivisionName}}
                  </td>
                  <td>
                    {{division.CompanyName}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center"><button class="btn btn-pill btn-primary" (click)="addDivisionModal.show()">
                    <i class="fa fa-plus fa-lg"></i>
                  </button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #editDivisionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='divisionscreen|dialog edit title'>Edit Division</h4>
        <button type="button" class="close" (click)="editDivisionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Name" i18n='divisionscreen|label for division code'>Division Code</label>
            <input type="text" class="form-control" id="edit_code">
          </div>
          <div class="form-group">
            <label for="Name" i18n='divisionscreen|label for division name'>Division Name</label>
            <input type="text" class="form-control" id="edit_name">
          </div>
          <div class="form-group">
            <label for="Company" i18n='divisionscreen|label for company'>Company</label>
            <select id="edit_company" class="form-control">
              <option hidden>--Select Company--</option>
              <ng-container *ngFor="let company of companyData">
                <option [value]="company.CompanyId">{{company.CompanyName}}</option>
              </ng-container>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editDivisionModal.hide()" i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" class="btn btn-success" (click)="updateDivision()" i18n='dialog|save dialog button'>Save</button>
        <button type="button" class="btn btn-danger" (click)="dangerModal.show()" i18n='dialog|delete dialog button'>Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #addDivisionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n='divisionscreen|dialog title add'>Create New Division</h4>
        <button type="button" class="close" (click)="addDivisionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Code" i18n='divisionscreen|label for division code'>Division Code</label>
            <input type="text" class="form-control" id="add_code">
          </div>
          <div class="form-group">
            <label for="Name" i18n='divisionscreen|label for division name'>Division Name</label>
            <input type="text" class="form-control" id="add_name">
          </div>
          <div class="form-group">
            <label for="Company"  i18n='divisionscreen|label for company'>Company</label>
            <select id="add_company" class="form-control">
              <option hidden *ngIf="companyData.length>1">--Select Company--</option>
              <ng-container *ngFor="let company of companyData">
                <option [value]="company.CompanyId">{{company.CompanyName}}</option>
              </ng-container>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addDivisionModal.hide()" i18n='dialog|close and cancel dialog button'>Close</button>
        <button type="button" class="btn btn-primary" (click)="postDivision()" i18n='dialog|create dialog button'>Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Delete</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="this.selectedDivision != null">
          Are you sure you want to delete {{this.selectedDivision.DivisionName}}?
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteDivision()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
