<div class="animated fadeIn">
    <!--Table-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Users
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="SessionsTable">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center"><i class="icon-home"></i></th>
                                <th>User Name</th>
                                <th>Date</th>
                                <th>Session Type Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let session of sessionData">
                                <tr>
                                    <td class="text-center">
                                        {{session.SessionId}}
                                    </td>
                                    <td>
                                        {{session.UserId}}
                                    </td>
                                    <td>
                                        {{session.DateAndTime}}
                                    </td>
                                    <td>
                                        {{session.SessionTypeId}}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot>
                              <tr>
                            <td class="text-center"><button class="btn btn-pill btn-primary" (click)="addSessionModal.show()">
                                <i class="fa fa-plus fa-lg"></i>
                                </button></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tfoot>
                    </table>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>

<div bsModal #addSessionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Create New Session</h4>
        <button type="button" class="close" (click)="addSessionModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="Code">User ID</label>
                <input type="text"  class="form-control" id="add_user">
            </div>
            <div class="form-group">
                <label for="Name">Date</label>
                <input type="text"  class="form-control" id="add_date">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="Name">Session Type ID</label>
                    <input type="text"  class="form-control" id="add_sessiontype">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addSessionModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="postSession()">Add Session</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
